<div class="senw-container senw-theme-colors">
    <app-header>
    </app-header>
    <main>
        <h1>lobby WIP</h1>

        <form [formGroup]="newGroupForm" (ngSubmit)="createNewGroup()">
            <input type="text" formControlName="newGroupName" placeholder="Group Name" />
            <button type="submit">Create Group</button>
        </form>

        <div *ngFor="let group of groups$ | async">
            <h4>{{ group.groupName }}</h4>
            <button (click)="joinGroup(group.groupId)">Join</button>
        </div>
        <!-- <app-group-list [groups = groups$ | async]></app-group-list> -->

    </main>
</div>