<h1>yoyo met de banjo</h1>
<br>
<h2>{{ groupName$ | async }}</h2>
<br>
<h3>Players:</h3>
<div *ngFor="let player of (players$ | async)">
    <h3>{{ player.playerName }}</h3>
</div>
<div *ngIf="isGroupLeader$ | async">
    <button (click)="StartUselessBox()">Start uselessBox</button>
</div>


<div>
    
    <div *ngFor="let message of chatHistory">
        <b>{{ message.playerName }}:</b> {{ message.chatMessage }}
    </div>

    <form [formGroup]="newGroupForm" (ngSubmit)="SendMessage()">
        <input type="text" formControlName="newChatMessage" placeholder="Send chat..." />
        <button type="submit">Send</button>
    </form>
</div>