<div class="senw-container senw-theme-colors">
    <app-header>
    </app-header>
    <main class="new-player-container">
        <div class="image">
            <img src="../../../assets/images/avatar-placeholder.PNG" />
        </div>
        <div class="avatar-buttons">
            <i class="fa fa-arrow-left"></i>
            <i class="fa fa-arrow-right"></i>
        </div>
        <div class="filler"></div>
        <div>
            <input type="text" class="custom-input" placeholder="name..." />
        </div>
    </main>
</div>